@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color: #6975AF;
    --question-color: #909CAC;
    --bg: #F1F5FD;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* start section seocre */
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}
.score .box {
background-color: var(--bg);
width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding-top: 60px;
padding-bottom: 60px;
}
.score .btn {
    width: 100%;
    background-color: var(--main-color);
    border: 0;
    height: 45px;
    color: white;
    border-bottom-right-radius: 6px ;
    border-bottom-left-radius: 6px;
    cursor: pointer;
}
#pl-name {
    text-transform: capitalize;
}
.display {
    display: none;
}
/* end section seocre */

