@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
:root {
    --main-color: #6975AF;
    --question-color: #909CAC;
    --bg: #F1F5FD;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#question {
    background-color: var(--bg);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

#question p {
    width: 100%;
    height: 30px;
    font-size: 0.8rem;
    background-color: #D8DEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 6px ;
    border-top-left-radius: 6px;
}
#question p span {
    padding: 0.3rem;
}

#question h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

#question ul {
    height: 35vh;
}

#question ul li:not(.question-text) {
    list-style: none;
    padding: 0.5rem 0 0.5rem 0.3rem;
    color: var(--question-color);
}

.question-text {
    list-style: none;
    font-weight: 800;
}

.btn {
    width: 100%;
    background-color: var(--main-color);
    border: 0;
    height: 45px;
    color: white;
    border-bottom-right-radius: 6px ;
    border-bottom-left-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem
}
/* start section home  */
#home{
width: 55%;

}
#home h1{
    margin-top: 20px; 
    text-align: center;
    margin-bottom: 45px;

}
#home .content{
    display: flex;
    justify-content: center;
}
#home .content .content-box1 , #home .content .content-box2{
background-color: var(--bg);
border-radius: 21px 21px 0px 0px;
margin-left: 6px;
}
#home .content .content-box1{
    display: none;
}
#home .content .content-box1 h2{
    width: 330px;
    height: 45px;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    background-color: var(--main-color);
    border-radius: 21px 21px 0px 0px;
    text-align: center;
    line-height: 1.9;
}
#home .content .content-box1 .result-score , #home .content .content-box2 .description{
display: flex;
justify-content: space-between;
padding: 15px;
}
#home .content .content-box2 h2{
    width: 330px;
    height: 45px;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    background-color: var(--main-color);
    border-radius: 21px 21px 0px 0px;
    text-align: center;
    line-height: 1.9;
}
#home form{
    margin-top: 60px;
}
#home form #userName{
    display: block;
    margin: auto;
    outline: none;
    border: 1px solid rgb(190 196 205);
    width: 359px;
    height: 45px;
    font-size: 20px;
    padding-left: 22px;
    background-color: var(--bg);
    border-radius: 6px;
}
#home form #btn{
    display: block;
    margin: auto;
    font-size: 23px;
    width: 359px;
    height: 45px;
    margin-top: 6px;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
/* end section home  */


/* start section score */
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    display: none;
}
.score .box {
background-color: var(--bg);
width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding-top: 60px;
padding-bottom: 60px;
}
.score .btn {
    width: 100%;
    background-color: var(--main-color);
    border: 0;
    height: 45px;
    color: white;
    border-bottom-right-radius: 6px ;
    border-bottom-left-radius: 6px;
    cursor: pointer;
}

/* End section score */

